In [1]:
from MultiTrain.classification.classification_models import MultiClassifier

import pandas as pd # type: ignore

In [2]:
df = pd.read_csv('examples/datasets/train.csv')

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [5]:
train = MultiClassifier(custom_models=['LogisticRegression', 'RandomForestClassifier'])
dataset_splits = train.split(data=df, 
                             target='Survived',
                             manual_encode={'label': ['Sex', 'Embarked'],
                                            'onehot': ['Ticket', 'Cabin']},
                             drop=['PassengerId', 'Name'],
                             fix_nan_custom={'Age': 'bfill', 
                                             'Embarked': 'ffill',
                                             'Cabin': 'ffill'},)

891

In [6]:
data_fit = train.fit(datasplits=dataset_splits,
                     custom_metric='top_k_accuracy_score',
                     sort='top_k_accuracy_score',
                     show_train_score=True
                     )

Training Models:   0%|           | 0/2 [00:00<?, ?it/s]

Evaluating LogisticRegression:   0%|          | 0/7 [00:00<?, ?it/s]

Evaluating RandomForestClassifier:   0%|          | 0/7 [00:00<?, ?it/s]

In [7]:
data_fit

,top_k_accuracy_score,top_k_accuracy_score_train,precision_train,precision,recall_train,recall,balanced_accuracy_train,balanced_accuracy,accuracy_train,accuracy,f1_train,f1,roc_auc_train,roc_auc,Time(s)
LogisticRegression,1.0,1.0,0.922078,0.848485,0.794776,0.756757,0.877118,0.830759,0.897472,0.843575,0.853707,0.800000,0.877118,0.830759,7.479469
RandomForestClassifier,1.0,1.0,1.000000,0.857143,1.000000,0.648649,1.000000,0.786229,1.000000,0.810056,1.000000,0.738462,1.000000,0.786229,0.564742

In [8]:
df['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [9]:
dir(sklearn.metrics)

NameError: name 'sklearn' is not defined