In [1]:
from MultiTrain_2.classification.classification_models import MultiClassifier

import pandas as pd # type: ignore

In [2]:
df = pd.read_csv('examples/datasets/train.csv')

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [ ]:
train = MultiClassifier()
dataset_splits = train.split(data=df, 
                             target='Embarked',
                             auto_cat_encode=True,
                             fix_nan_custom={'Age': 'bfill', 
                                             'Embarked': 'ffill',
                                             'Cabin': 'ffill'},)

MultiTrainNaNError: Missing values found in the dataset. Please handle missing values before proceeding.Pass a value to the fix_nan_custom parameter to handle missing values. i.e. fix_nan_custom={"column1": "ffill", "column2": "bfill"}

In [6]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
dataset_splits[0]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin
331,332,0,1,637,1,45.5,0,0,20,28.5000,56
733,734,0,2,84,1,23.0,0,0,228,13.0000,15
382,383,0,3,811,1,32.0,0,0,665,7.9250,47
704,705,0,3,326,1,26.0,1,0,398,7.8542,120
813,814,0,3,23,0,6.0,4,2,333,31.2750,16
...,...,...,...,...,...,...,...,...,...,...,...
106,107,1,3,724,0,21.0,0,0,296,7.6500,52
270,271,0,1,125,1,25.0,0,0,47,31.0000,54
860,861,0,3,325,1,41.0,2,0,399,14.1083,94
435,436,1,1,143,0,14.0,1,2,33,120.0000,47
102,103,0,1,858,1,21.0,0,1,417,77.2875,98

In [9]:
data_fit = train.fit(dataset_splits[0], 
                     dataset_splits[1],
                     dataset_splits[2], 
                     dataset_splits[3],
                     )

ValueError: Target is multiclass but average='binary'. Please choose another average setting, one of [None, 'micro', 'macro', 'weighted'].